@import "main";

.projects {
	h1 {
		text-align: center;
		text-transform: uppercase;
		padding-bottom: 5px;
	}
	.description {
		font-size: 1.2em;
		text-align: center;
	}
	.cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.card {
			width: 46%;
			margin: 2%;
			border: 1px $green solid;
			padding: 5px;
			display: flex;
			flex-direction: column;
			@media (max-width: $breakpoint) {
				width: 100%;
			}
			h3 {
				background: rgba(255, 255, 255, 0.05);
				padding: 8px;
				text-transform: uppercase;
			}
			.info {
				background: rgba(255, 255, 255, 0.05);
				padding: 8px;
				flex: 1;
				line-height: 150%;
				ul {
					padding-top: 8px;
					margin-left: 25px;
					list-style-type: square;
				}
				p {
					padding-top: 8px;
				}
				p, li {
					line-height: 100%;
				}
				.buttons {
					display: flex;
					justify-content: space-between;
					@media (max-width: $breakpoint) {
						flex-wrap: wrap;
						justify-content: center;
					}
					.button {
						font-size: 1.1em;
						padding: 5px 10px;
						@media (max-width: $breakpoint) {
							font-size: 1em;
							padding: 3px 7px;
							margin: 5px;
						}
					}
				}
			}
			img {
				display: block;
				width: 100%;
				transition: all .2s;
			}
		}
	}
}