@import "main";

.skills {
	fill: $light;
	h1 {
		text-align: center;
		text-transform: uppercase;
		padding-bottom: 5px;
	}
	.quote {
		width: 80%;
		margin: auto;
		padding-bottom: 15px;
		text-align: center;
		font-size: 1.3em;
	}
	.footNotes {
		text-align: center;
		width: 80%;
		margin: auto;
		font-size: 1.2em;
		p {
			padding: 5px 0 15px 0;
		}
		.badge {
			@media (max-width: $breakpoint) {
				width: 100%;
			}
		}
	}
	.cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.card {
			display: flex;
			flex-direction: column;
			width: 160px;
			margin: 10px;
			padding: 15px;
			text-align: center;
			border: 1px $green solid;
			background: rgba(255, 255, 255, 0.05);
			@media (max-width: $breakpoint) {
				width: 120px;
				font-size: .7em;
			}
			&:hover {
				background: rgba(255, 255, 255, 0.1);
			}
			p {
				margin-bottom: 10px;
				font-size: 1.3em;
				letter-spacing: 1px;
			}
			.icon {
				flex: 1;
				display: flex;
				align-items: center;
				img {
					width: 100%;
				}
			}
		}
	}
}