@import "main";

.summary {
	text-align: center;
	padding: 100px;
	@media (max-width: $breakpoint) {
		padding: 100px 10px;
	}
	img {
		padding: 5px;
		width: 200px;
		border: 1px solid $green;
		margin: 0 auto;
		display: block;
	}
	h1 {
		text-transform: uppercase;
	}
	p {
		font-size: 1.2em;
		letter-spacing: 0px;
		padding-top: 15px;
		font-family: Georgia,'Times New Roman',serif;
		.green {
			color: $green;
		}
	}
	.links {
		margin: 20px auto;
		.button {
			margin: 0 5px;
		}
	}
}